<!DOCTYPE html>
<html>
<head>
  <title>GoldencobraNewsletter</title>
  <%= stylesheet_link_tag    "goldencobra-newsletter/application", :media => "all" %>
  <%= javascript_include_tag "goldencobra-newsletter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
