

<% if(@success) %>
    $('#goldencobra-newsletter-registration-form').html("<p class='success'>Erfolgreich eingetragen</p>");
<% else %>
    $('#goldencobra-newsletter-registration-form').append("<p class='error'>Nicht erfolgreich. Bitte &uuml;berpr&uuml;fen Sie Ihre Eingaben.</p>");
<% end %>
