

<% if(@success) %>
    $('#goldencobra-newsletter-registration-form').html("<p class='success'>Erfolgreich.<br />Bitte pr&uuml;fen Sie Ihre E-Mails und best&auml;tigen Sie die Anmeldung.</p>");
<% else %>
    $('#goldencobra-newsletter-registration-form').append("<p class='error'>Nicht erfolgreich. Bitte &uuml;berpr&uuml;fen Sie Ihre Eingaben.</p>");
<% end %>
